/* /src/app/fonts/fonts.css */

@font-face {
    font-family: 'Inter-Bold';
    src: url('./Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('./Inter-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('./Inter-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('./Inter-Medium.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* Additional styles to apply custom fonts */
.title {
    font-family: 'Inter-Bold', sans-serif; /* Apply bold font for titles */
}

.bodyText {
    font-family: 'Inter-SemiBold', sans-serif; /* Apply regular font for body text */
}